<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<style>
.center {
  position: absolute;
  right: 350px;
  width: 500px;
  padding: 80px;
}

body {
    background-color:rgb(50,50,50);
    color:antiquewhite;
}
</style>
<body>
<div class="container">
    <div class="center">
        <div class=" my-5">
        <form method="post" action="check">
        {% csrf_token %}
        <h5>{{qn}} : {{questions.question|capfirst}} </h5><br>
        <input type="radio" name="option" value="a" required> A : {{questions.a|capfirst}}<br>
        <input type="radio" name="option" value="b"> B : {{questions.b|capfirst}}<br>
        <input type="radio" name="option" value="c"> C : {{questions.c|capfirst}}<br>
        <input type="radio" name="option" value="d"> D : {{questions.d|capfirst}}<br><br><br>
        {% if answer is None %}
        <input class="btn btn-primary"  type="submit" value="Submit"><br>
        {% endif %}
        </form>

    {% if answer is not None%}
        {% if answer is True %}
        <p class="lead"> Correct answer !</p><br>
        {% else %}
        <p class="lead"> Wrong answer !</p>
            <p class="lead">Correct answer is : option {{correct_answer|capfirst}}</p><br>
        {% endif %}
        {% if finish %}
        <form action="result">
            <button class="btn btn-success" type="submit">finish</button>
        </form>
        {% else %}
        <form method="get" action="next">
            <input class="btn btn-warning"  type="submit" value="Next">
        </form>
        {% endif %}
    {% endif %}
</div>
<script type="text/javascript">
    window.history.forward();
    function noBack() {
      window.history.forward();
    }
</script>
    </div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>