{% extends 'base.html' %}
{% load static %}

{% block title %}
Signup
{% endblock title %}

{% block msg %}
    <div class="col-sm-3 my-5">
    {% if messages %}
        {% for msg in messages %}
            <p class="alert-success">{{msg}}</p>
        {% endfor %}
    {% endif %}
    </div>
{% endblock msg %}

{% block content %}

<div class="col-sm-4 my-5">
<h5 class=" text-white my-3">REGISTER HERE :</h5><br>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div class=" center form-group">
                {{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small><br>
            </div>
        {% endfor %}<br/>
        <input type="submit" value="Register" class="btn btn-primary"> &emsp;
        <small class="text-center">Existing User ? <a href="{% url 'login' %}">Login Now</a></small>
    </form>
</div>

{% endblock content %}
